# Django Settings
DEBUG=True
SECRET_KEY=your_secret_key_here
ALLOWED_HOSTS=localhost,127.0.0.1

# Database
DATABASE_URL=sqlite:///db.sqlite3

# Africa's Talking SMS Configuration
AT_USERNAME=your_afrikas_talking_username_here
AT_API_KEY=your_afrikas_talking_api_key_here
AT_SENDER_ID=AFTKNG

